#root {
  margin: 0 auto;
  text-align: center;
}


.show-colors tr:nth-child(odd){
  background-color: #333;
}

.show-colors tr:nth-child(even){
  background-color: #555;
}


.filters{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filters input{
  padding: .5rem;
}

.pointer{
  cursor: pointer;
  transition:  background-color .2s ease;
}
.pointer:hover{
  background-color: rgb(136, 136, 136, .5);
}